@import '../../common/colors.css';

.header{
  background-color: var(--secondary-colo);
  height: 72px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  color: var(--font-primary);
  font-size: 38px;
  font-weight: 600;
}
.user-image, img{
  width: 38px;
  height: 38px;
  
}