@import '../../common/colors.css';

.footer{
  background-color: var(--parimary-color);
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-primary);
  flex-direction: column;
}